@import "./common/styles/vars";
@import "./common/styles/functions";

@import "~bootstrap/scss/bootstrap";

.app {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }

  aside {
    width: $aside-width;
    background: v(navBackground, #123651);
    color: v(navText, #fff);
    box-shadow: inset -2px 0px 3px rgba(0, 0, 0, 0.3);
    z-index: 10;
    position: sticky;
    top: 0;
    height: 100vh;

    @media screen and (max-width: 800px) {
      height: auto;
      width: 100%;
    }

    .nav-wrap {
      display: block;
      color: v(navText, #fff);
      text-decoration: none;
      padding-bottom: 15px;
      padding-top: 15px;
      padding-right: 0px;
      font-size: 20px;
      font-weight: 300;
      text-align: center;
      //height: 100px;
      //width: 100%;
      //overflow: hidden;
      //text-overflow: ellipsis;
      white-space: nowrap;
      cursor: default;

      &:hover {
        background: v(navItemHoverBackground, #347dc2);
      }
    }
    h1 {
      padding: 20px;
      margin: 0;
      font-size: 20px;
      font-weight: 300;
      margin: 0;
      height: 63px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: default;

      @media screen and (max-width: 800px) {
        text-align: center;
      }
    }
  }

  .right-bar {
    width: 6vw;
    background: v(navBackground, #123651);
    color: v(navText, #fff);
    box-shadow: inset -2px 0px 3px rgba(0, 0, 0, 0.3);
    z-index: 10;
    position: sticky;
    top: 0;
    right: 0px;
    height: 100vh;

    @media screen and (max-width: 800px) {
      height: auto;
      width: 100%;
    }

    h1 {
      padding: 20px;
      margin: 0;
      font-size: 20px;
      font-weight: 300;
      margin: 0;
      height: 63px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: default;

      @media screen and (max-width: 800px) {
        text-align: center;
      }
    }
  }

  main {
    position: relative;
    flex: 1;
    z-index: 0;
    //calc witdh on the content based on two lateral bars
    min-width: calc(94vw - $aside-width);
    width: auto;
  }
}
