.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  //max-width: 100%;
  overflow: auto;
  height: 100%;
  min-height: 91vh;
  background: #f1f9fc; // #d5e1e6;
}

.page-header {
  position: relative;
  //padding: 30px;
  //background: rgba(255,255,255,0.4);
  //background-color: #f1f9fc;
  //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  display: flex;
  margin: auto;
  align-items: center;
  color: #123651;

  @media screen and (max-width: 800px) {
    //padding: 15px;
    flex-direction: column;
    text-align: center;
  }

  hgroup {
    margin: 0;
    padding: 0;
    flex: 1;

    h2 {
      font-size: 24px;
      margin: 0;
      line-height: 1.5em;
      color: #123651;
    }

    h4 {
      margin: 15px 0 0;
      font-weight: 300;
      font-size: 14px;
      line-height: 1.5em;
      color: #123651;

      @media screen and (max-width: 800px) {
        margin-top: 5px;
      }
    }
  }
}

.page-content {
  position: relative;
  padding: 30px;
  //width: 100%;
  height: 100%;
  justify-content: center;
  margin: auto;

  .pagination-state {
    margin: 20px 0;
  }

  @media screen and (max-width: 800px) {
    .page-loader,
    .page-error {
      position: relative;
    }

    .page-error {
      transform: none;
      left: 0;
      top: 0;
      margin: 40px 0;
      text-align: center;
    }
  }
}
hr {
  border: 2px solid #5d98cf;
}

.page-error,
.page-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
}
