@import "../../common/styles/functions";

.app-nav {
  background: #123651;
  color: #fff;

  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @media screen and (max-width: 800px) {
    height: auto;
    width: 100%;
  }

  .nav-wrap {
    display: block;
    color: v(navText, #fff);
    text-decoration: none;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 0px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    //height: 100px;
    //width: 100%;
    //overflow: hidden;
    //text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;

    &:hover {
      background: v(navItemHoverBackground, #347dc2);
    }
  }
  h1 {
    padding: 20px;
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    height: 63px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;

    @media screen and (max-width: 800px) {
      text-align: center;
    }
  }
  .app-nav-opener {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    border-radius: 50em;
    background: none;
    z-index: 1;
    font-size: 18px;
    display: none;

    @media screen and (max-width: 800px) {
      display: block;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
  .data-wrapper {
    //width: 100%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
  }

  .app-nav-text {
    //width: 100%;
    text-align: center;
    font-size: medium;
    height: fit-content;
  }
  .app-nav-wrapper {
    @media screen and (max-width: 800px) {
      display: none;
      //width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      overflow: auto;
      background: #123651;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 40px;
    }

    &.opened {
      display: flex;
    }

    .app-nav-links {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: flex-start;
    }

    a {
      display: block;
      color: v(navItemText, #fff);
      text-decoration: none;
      padding: 10px 20px;
      margin: 0;
      font-size: 14px;
      line-height: 1.3em;
      cursor: pointer;
      transition: 0.2s background-color ease 0s;

      @media screen and (max-width: 800px) {
        border-radius: 50em;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &:hover {
        background: v(navItemHoverBackground, #347dc2);
      }

      &.active {
        background: v(navItemActiveBackground, #5d98cf);
      }
    }
  }

  h1 {
    margin: 2px;
    margin-left: 5%;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    height: 63px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;

    @media screen and (max-width: 800px) {
      text-align: left;
    }
  }

  h2 {
    margin: 5px;
    margin-left: 5%;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    height: 63px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;

    @media screen and (max-width: 800px) {
      text-align: left;
    }
  }

  h3 {
    margin-bottom: 5px;
    margin-left: 5%;
    font-size: 14px;
    font-weight: 300;
    height: fit-content;
    //overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    width: fit-content;

    @media screen and (max-width: 800px) {
      text-align: left;
    }
  }
}
