.button {
  display: inline-block;
  zoom: 1;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-family: inherit;
  padding: 8px 12px;
  color: #000000cc;
  border: none;
  border: transparent;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 300;
  font-size: 14px;

  &.outlined {
    border: 2px solid black;
    background-color: #e6e6e6;
    color: black;
    padding: 8px 12px;
    font-weight: 300;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;

    &.green {
      border-color: #1cb841;
      color: #1cb841;

      &:hover {
        border-color: #2dc450;
      }
    }

    &.blue {
      border-color: #251996;
      color: #251996;

      &:hover {
        border-color: #253ab3;
      }
    }

    &.red {
      border-color: #81070d;
      color: #81070d;

      &:hover {
        border-color: #d11827;
      }
    }
  }
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #ebebeb;
  }

  &:disabled {
    color: #cccccccc;
  }

  &.unlined {
    &.green {
      background: #1cb841;
      color: #fff;

      &:hover {
        background-color: #2dc450;
      }
    }

    &.blue {
      background: #251996;
      color: #fff;

      &:hover {
        background-color: #253ab3;
      }
    }

    &.red {
      background: #81070d;
      color: #fff;

      &:hover {
        background-color: #d11827;
      }
    }
  }
}
