.home-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: auto;
  min-height: 100vh;
  max-height: 100vh;

  background-color: #d5e1e6;
  background-image: url("../../assets/img/background-login.png");
  background-repeat: no-repeat;
  //background-position: right;
  background-size: contain;

  .info-box {
    position: absolute;
    padding-top: 5%;
    padding-bottom: 1%;
    max-height: 95vh;
    padding-left: 2%;
    background-color: rgba(13, 68, 119, 0.85);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    width: 80%;
    cursor: default;

    a {
      color: #fff;
      cursor: pointer;
    }
    .info-text {
      color: #fff;

      text-decoration: none;
      padding: 10px 20px;
      margin: 0;
      font-size: 18px;
      font-weight: lighter;
      line-height: 1.3em;

      transition: 0.2s background-color ease 0s;
      //hyphens: auto;
      width: 40%;
    }
  }
}
